<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <tile>Game</tile>
    <!-- <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script type="module" src="interactivity.js" defer></script> -->

    <!-- PROVIDES THE FIREBASE CONFIGURATIONS -->
    <script src="js/environment.js"></script>
    <script type="module" src="js/game.js" defer></script>
    <script
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
      defer
    ></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/rooms/gameroom.js" defer></script>
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <!-- <link rel="stylesheet" href="experimental.css" /> -->
  </head>
  <body>
    <div class="board">
      <div class="game">
        <div class="settings"></div>
        <div class="leftplayer">
          <div class="leftHand" id="leftPlayerHand"></div>
          <div class="leftChecked" id="leftPlayerChecked"></div>
        </div>
        <div class="rightplayer">
          <div class="rightChecked" id="rightPlayerChecked"></div>
          <div class="rightHand" id="rightPlayerHand"></div>
        </div>
        <div class="mainplayer">
          <div class="playerChecked" id="playerChecked"></div>
          <div class="playerHand" id="playerHand"></div>
        </div>
        <div class="topplayer">
          <div class="topHand" id="topPlayerHand"></div>
          <div class="topChecked" id="topPlayerChecked"></div>
        </div>
        <div class="topdiscard" id="topPlayerDiscard"></div>
        <div class="rightdiscard" id="rightPlayerDiscard"></div>
        <div class="leftdiscard" id="leftPlayerDiscard"></div>
        <div class="maindiscard" id="playerDiscardPile"></div>
        <div class="controls">
          <div class="square" id="playerControls">
            <div class="topcontrols">
              <div class="content"></div>
            </div>
            <div class="leftcontrols">
              <div class="content"></div>
            </div>
            <div class="rightcontrols">
              <div class="content"></div>
            </div>
            <div class="bottomcontrols">
              <div class="content"></div>
            </div>
          </div>
          <div class="circle">
            <div id="timer"></div>
          </div>
        </div>
      </div>
      <div class="messenger">
        <div class="video" id="videogrid">
          <div class="insetvideo" id="leftvideo">
            <div id="audio"></div>
          </div>
          <div class="insetvideo" id="rightvideo"></div>
          <div class="insetvideo" id="topvideo"></div>
          <div class="insetvideo" id="mainvideo"></div>
        </div>
        <div class="message">
          <div id="gamelog"></div>
        </div>
      </div>
    </div>
  </body>
</html>
