<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waiting Room</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/socket.io/socket.io.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
      <div class="col">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/office.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"
                >Card Title<i class="material-icons right">more_vert</i></span
              >
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"
                >Card Title<i class="material-icons right">close</i></span
              >
              <p>
                Here is some more information about this product that is only
                revealed once clicked on.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/office.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"
                >Card Title<i class="material-icons right">more_vert</i></span
              >
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"
                >Card Title<i class="material-icons right">close</i></span
              >
              <p>
                Here is some more information about this product that is only
                revealed once clicked on.
              </p>
            </div>
          </div>
        </div>
        </div>


        <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/office.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"
                >Card Title<i class="material-icons right">more_vert</i></span
              >
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"
                >Card Title<i class="material-icons right">close</i></span
              >
              <p>
                Here is some more information about this product that is only
                revealed once clicked on.
              </p>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="images/office.jpg" />
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"
                >Card Title<i class="material-icons right">more_vert</i></span
              >
              <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"
                >Card Title<i class="material-icons right">close</i></span
              >
              <p>
                Here is some more information about this product that is only
                revealed once clicked on.
              </p>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="col">
         <ul class="collection">
    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Title</span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
        
      </div>


</div>

      </div>
    </div>
  </body>
    <script>
    const firebaseConfig = {
      apiKey: "AIzaSyCZxHXBsKxpepn-CHCKGdgnDNcjonCo8ec",
      authDomain: "mahjong-7d9ae.firebaseapp.com",
      databaseURL:
        "https://mahjong-7d9ae-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "mahjong-7d9ae",
      storageBucket: "mahjong-7d9ae.appspot.com",
      messagingSenderId: "786831681379",
      appId: "1:786831681379:web:f4b3f6beaa559156209556",
      measurementId: "G-4JDXRRGDV0",
    };
    const firebase = initializeApp(firebaseConfig);
    const db = getFirestore(firebase);
  </script>
  <script type="module" src="js/rooms/interstitial.js" defer></script>
</html>
