<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Lobby</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <style>
      .join-room:hover {
        background-color: aqua;
        cursor: pointer;
      }
    </style>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <!-- read from firebase a list of UUID rooms and connected users -->

    <div class="container">
      <h2 class="header">Rooms</h2>
      <div class="col s12 m7 l4 room" id="create-room">
        <div class="card">CREATE ROOM</div>
      </div>
      <div class="col s12 m7 l4 room" id="roomList"></div>
    </div>
  </body>
  <script type="module" src="js/rooms/lobby/lobby.js" defer></script>
</html>
