<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script type="module" src="interactivity.js" defer></script> -->

    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap"
      rel="stylesheet"
    />

    <!-- PROVIDES THE FIREBASE CONFIGURATIONS -->
    <!-- <script type="module" src="/js/rooms/firebase/initFirebase.js"></script> -->
    <script type="module" src="/js/rooms/game/game.js" defer></script>
    <!-- <script type="module" src="/js/rooms/game/gameroom.js" defer></script> -->
    <style>
      textarea {
        resize: none;
        width: 100%;
      }

      .insetvideo {
        border: 0.5px solid black;
      }

      #send-chat {
        float: right;
      }

      .chat-box {
        height: 35vh;
        border: 0.5px solid black;
      }

      li {
        margin-right: 20px;
      }

      .brand-logo {
        margin-left: 20px;
        font-family: "ZCOOL QingKe HuangYou", cursive;
      }

      li:hover {
        color: tomato;
        cursor: pointer;
      }

      nav {
        background-color: whitesmoke;
      }

      .nav-wrapper > * > *,
      .nav-mobile,
      span {
        color: black;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/game.css" />
    <!-- <link rel="stylesheet" href="experimental.css" /> -->
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/lobby" class="brand-logo">
          <i class="material-icons">sports_esports</i>
          <span> 麻将之王 </span></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="userName"></li>
          <li id="logout">Logout</li>
        </ul>
      </div>
    </nav>
    <div class="board">
      <div class="game">
        <div class="settings"></div>
        <div class="leftplayer">
          <div class="leftHand" id="leftPlayerHand"></div>
          <div class="leftChecked" id="leftPlayerChecked"></div>
        </div>
        <div class="rightplayer">
          <div class="rightChecked" id="rightPlayerChecked"></div>
          <div class="rightHand" id="rightPlayerHand"></div>
        </div>
        <div class="mainplayer">
          <div class="playerChecked" id="playerChecked"></div>
          <div class="playerHand" id="playerHand"></div>
        </div>
        <div class="topplayer">
          <div class="topHand" id="topPlayerHand"></div>
          <div class="topChecked" id="topPlayerChecked"></div>
        </div>
        <div class="topdiscard" id="topPlayerDiscard"></div>
        <div class="rightdiscard" id="rightPlayerDiscard"></div>
        <div class="leftdiscard" id="leftPlayerDiscard"></div>
        <div class="maindiscard" id="playerDiscardPile"></div>
        <div class="controls">
          <div class="square" id="playerControls">
            <div class="topcontrols">
              <div class="content"></div>
            </div>
            <div class="leftcontrols">
              <div class="content"></div>
            </div>
            <div class="rightcontrols">
              <div class="content"></div>
            </div>
            <div class="bottomcontrols">
              <div class="content"></div>
            </div>
          </div>
          <div class="circle">
            <div id="timer"></div>
          </div>
        </div>
      </div>
      <div class="messenger">
        <div class="video" id="videogrid">
          <div class="insetvideo" id="leftvideo"></div>
          <div class="insetvideo" id="rightvideo"></div>
          <div class="insetvideo" id="topvideo"></div>
          <div class="insetvideo" id="mainvideo">
            <div id="audio"></div>
          </div>
        </div>
        <div class="col" id="chat">
          <div class="chat-box" id="chat-messages">
            <ul></ul>
          </div>
          <div class="chat-input">
            <label for="chat-message">Chat message...</label>
            <textarea cols="30" rows="10" id="chat-message"></textarea>
          </div>
          <button id="send-chat">Send</button>
        </div>
      </div>
    </div>
  </body>
</html>
