<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script type="module" src="interactivity.js" defer></script> -->

    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>

    <!-- PROVIDES THE FIREBASE CONFIGURATIONS -->
    <!-- <script type="module" src="/js/rooms/firebase/initFirebase.js"></script> -->
    <script type="module" src="/js/rooms/game/game.js" defer></script>
    <script
      src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"
      defer
    ></script>
    <script
      src="https://cdn.socket.io/4.2.0/socket.io.min.js"
      integrity="sha384-PiBR5S00EtOj2Lto9Uu81cmoyZqR57XcOna1oAuVuIEjzj0wpqDVfD0JA9eXlRsj"
      crossorigin="anonymous"
      defer
    ></script>
    <script src="/js/rooms/game/gameroom.js" defer></script>
    <style>
      textarea {
        resize: none;
        width: 100%;
      }

      .insetvideo {
        border: 0.5px solid black;
      }

      #send-chat {
        float: right;
      }

      .chat-box {
        height: 35vh;
        border: 0.5px solid black;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/game.css" />
    <!-- <link rel="stylesheet" href="experimental.css" /> -->
  </head>
  <body>
    <div class="board">
      <div class="game">
        <div class="settings"></div>
        <div class="leftplayer">
          <div class="leftHand" id="leftPlayerHand"></div>
          <div class="leftChecked" id="leftPlayerChecked"></div>
        </div>
        <div class="rightplayer">
          <div class="rightChecked" id="rightPlayerChecked"></div>
          <div class="rightHand" id="rightPlayerHand"></div>
        </div>
        <div class="mainplayer">
          <div class="playerChecked" id="playerChecked"></div>
          <div class="playerHand" id="playerHand"></div>
        </div>
        <div class="topplayer">
          <div class="topHand" id="topPlayerHand"></div>
          <div class="topChecked" id="topPlayerChecked"></div>
        </div>
        <div class="topdiscard" id="topPlayerDiscard"></div>
        <div class="rightdiscard" id="rightPlayerDiscard"></div>
        <div class="leftdiscard" id="leftPlayerDiscard"></div>
        <div class="maindiscard" id="playerDiscardPile"></div>
        <div class="controls">
          <div class="square" id="playerControls">
            <div class="topcontrols">
              <div class="content"></div>
            </div>
            <div class="leftcontrols">
              <div class="content"></div>
            </div>
            <div class="rightcontrols">
              <div class="content"></div>
            </div>
            <div class="bottomcontrols">
              <div class="content"></div>
            </div>
          </div>
          <div class="circle">
            <div id="timer"></div>
          </div>
        </div>
      </div>
      <div class="messenger">
        <div class="video" id="videogrid">
          <div class="insetvideo" id="leftvideo">
            <div id="audio"></div>
          </div>
          <div class="insetvideo" id="rightvideo">
            <div id="audio"></div>
          </div>
          <div class="insetvideo" id="topvideo">
            <div id="audio"></div>
          </div>
          <div class="insetvideo" id="mainvideo">
            <div id="audio"></div>
          </div>
        </div>
        <div class="col" id="chat">
          <div class="chat-box" id="chat-messages">
            <ul></ul>
          </div>
          <div class="chat-input">
            <label for="chat-message">Chat message...</label>
            <textarea cols="30" rows="10" id="chat-message"></textarea>
          </div>
          <button id="send-chat">Send</button>
        </div>
      </div>
    </div>
  </body>
</html>
