<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waiting Room</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>

    <style>
      img {
        width: -webkit-fill-available;
        border-radius: 8px;
        padding-top:11px;
      }

      .card{
        border-radius: 8px;
        height: 50vh;
      }

      .playerWind {
        text-align: center;
        font-size: 3em;
      }

      textarea {
        resize: none;
      }

      #send-chat{
        float: right
      }

      .chat-box {
        height: 40vh;
      }

      h2{
        font-size: 2em;
        font-weight: bold;
      }

      .card-content {
        display:flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .card-action {
        text-align: center;
        font-weight:bold;
        color:tomato;
        cursor:pointer;
      }

      .readiness {
        text-align: center;
        font-weight: bold;
        color:yellowgreen;
      }

      .card-action:hover,
      .readiness:hover {
        background-color: whitesmoke;
        border-radius: 8px;
        cursor:pointer;
      }

      .deactivated {
        background-color: whitesmoke;
        box-shadow: none;
      }

      
    </style>
    <script>
      const roomId = "<%=roomKey%>";
    </script>
  </head>

    <div class="container">
      <div class="row" style="height:100vh;display:flex;align-items:center">
        <h2 class="header">Game Lobby</h2>
        <div class="col s8">
          <div class="row" id="playerContainers">
              
          </div>
        </div>

        <div class="col s4" id="chat">
          <div class="chat-box" id="chat-messages">
            <ul></ul>
          </div>
          <div class="chat-input">
            <label for="chat-message">Chat message...</label>
            <textarea cols="30" rows="10" id="chat-message"></textarea>
            
          </div>
          <button id="send-chat">Send</button>
        </div>
      </div>
    </div>
  </body>
      <script type="module" src="/js/rooms/interstitial/interstitial.js" defer> </script>

</html>
