<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waiting Room</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap"
      rel="stylesheet"
    />

    <style>
      img {
        width: -webkit-fill-available;
        border-radius: 8px;
        padding-top: 11px;
      }

      .card {
        border-radius: 8px;
        height: 50vh;
      }

      .playerWind {
        text-align: center;
        font-size: 3em;
      }

      textarea {
        resize: none;
      }

      #send-chat {
        float: right;
      }

      .chat-box {
        height: 40vh;
      }

      h2 {
        font-size: 2em;
        font-weight: bold;
      }

      .card-content {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .card-action {
        text-align: center;
        font-weight: bold;
        color: tomato;
        cursor: pointer;
      }

      .readiness {
        text-align: center;
        font-weight: bold;
        color: yellowgreen;
      }

      .card-action:hover,
      .readiness:hover {
        background-color: whitesmoke;
        border-radius: 8px;
        cursor: pointer;
      }

      .deactivated {
        background-color: whitesmoke;
        box-shadow: none;
      }

      li {
        margin-right: 20px;
      }

      .brand-logo {
        margin-left: 20px;
        font-family: "ZCOOL QingKe HuangYou", cursive;
      }

      li:hover {
        color: tomato;
        cursor: pointer;
      }

      nav {
        background-color: whitesmoke;
      }

      .nav-wrapper > * > *,
      .nav-mobile,
      span {
        color: black;
      }
    </style>
    <script>
      const roomId = "<%=roomKey%>";
    </script>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/lobby" class="brand-logo">
          <i class="material-icons">sports_esports</i>
          <span> 麻将之王 </span></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="userName"></li>
          <li id="logout">Logout</li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div
        class="row"
        style="height: 100vh; display: flex; align-items: center"
      >
        <div class="col s2" id="gamelobby">
          <h2 class="header">Game Lobby</h2>
        </div>
        <div class="col s6">
          <div class="row" id="playerContainers"></div>
        </div>

        <div class="col s4" id="chat">
          <div class="chat-box" id="chat-messages">
            <ul></ul>
          </div>
          <div class="chat-input">
            <label for="chat-message">Chat message...</label>
            <textarea cols="30" rows="10" id="chat-message"></textarea>
          </div>
          <button id="send-chat">Send</button>
        </div>
      </div>
    </div>
  </body>
  <script
    type="module"
    src="/js/rooms/interstitial/interstitial.js"
    defer
  ></script>
</html>
