<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Lobby</title>

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap"
      rel="stylesheet"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: false,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: true,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };
    </script>
    <style>
      .join-room:hover {
        background-color: whitesmoke;
        cursor: pointer;
      }

      #toast-container {
        top: 0 !important;
        right: 1em !important;
      }
      img {
        width: -webkit-fill-available;
        border-radius: 8px;
        padding-top: 11px;
      }

      .card {
        border-radius: 8px;
      }

      .playerWind {
        text-align: center;
        font-size: 3em;
      }

      textarea {
        resize: none;
      }

      #send-chat {
        float: right;
      }

      #create-room {
        margin: 0 auto;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #create-room:hover {
        color: green;
        background-color: whitesmoke;
        cursor: pointer;
      }

      h2 {
        font-size: 2em;
        font-weight: bold;
      }

      .chat-box {
        height: 40vh;
      }

      li {
        margin-right: 20px;
      }

      .brand-logo {
        margin-left: 20px;
        font-family: "ZCOOL QingKe HuangYou", cursive;
      }

      li:hover {
        color: tomato;
        cursor: pointer;
      }

      nav {
        background-color: whitesmoke;
      }

      .nav-wrapper > * > *,
      .nav-mobile,
      span {
        color: black;
      }
    </style>
    <script type="module" src="js/rooms/lobby/lobby.js" defer></script>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/lobby" class="brand-logo">
          <i class="material-icons">sports_esports</i>
          <span> 麻将之王 </span></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="userName"></li>
          <li id="logout">Logout</li>
        </ul>
      </div>
    </nav>

    <!-- read from firebase a list of UUID rooms and connected users -->
    <div class="container">
      <div
        class="row"
        style="height: 100vh; display: flex; align-items: center"
      >
        <h2 class="header">Main Lobby</h2>
        <div class="col s8 room">
          <div class="row card horizontal" id="create-room">CREATE ROOM</div>
          <div class="row" id="roomList"></div>
        </div>

        <div class="col s4" id="chat">
          <div class="chat-box" id="chat-messages">
            <strong>IN LOBBY NOW: </strong>
            <ul></ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
