<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Material Icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      .header{
        font-family: "ZCOOL QingKe HuangYou", cursive;
      }
      .login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
      }

      .card {
        border-radius: 10px;
      }

      .row {
        margin-bottom: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .auth {
        margin: 5px auto;
      }

      .card-title {
        padding-top: 20px;
        text-align: center;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div
        class="row"
        style="height: 100vh; display: flex; align-items: center"
      >
        <h2 class="header">🀨麻将之王</h2>
        <div class="col s8 room">
          <div class="card-content">
              <div class="row">
                <form
                  class="col s12"
                  action="/login/form"
                  method="POST"
                  id="registerUser"
                >
                  <div class="row">
                    <div class="input-field col s12">
                      <input
                        id="email"
                        type="email"
                        name="email"
                        class="validate"
                      />
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input
                        id="password"
                        type="password"
                        name="password"
                        class="validate"
                      />
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="row auth">
                        <a
                          href="javascript:{}"
                          onclick="document.getElementById('registerUser').submit()"
                          class="waves-effect waves-light btn-small"
                          ><i class="material-icons right">face</i>Login</a
                        >
                      </div>
                      <div class="row auth">
                        <a
                          class="waves-effect waves-light btn-small"
                          id="googlesignin"
                          ><i class="material-icons right">login</i>Sign In Via
                          Google</a
                        >
                      </div>
                      <div class="row auth">
                        <a
                          class="waves-effect waves-light btn-small"
                          id="facebooksignin"
                          ><i class="material-icons right">facebook</i>Sign In
                          Via Facebook</a
                        >
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

    <script type="module">
      // If you enabled Analytics in your project, add the Firebase SDK for Google Analytics
      // import { analytics } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-analytics.js";

      // Add Firebase products that you want to use
      // import { auth } from "https://www.gstatic.com/firebasejs/9.1.1/firebase-auth.js";
    </script>
    <script type="module" src="js/config.js"></script>
    <script type="module" src="js/auth/login.js" defer></script>
  </body>
</html>
